{% extends 'blogapp/base.html' %}
{% load static %}
{% load wagtailcore_tags %}


{% block content %}
    <style> {# Set Background  #}
        body {
            background-image: url("{% static 'images/starry2.jpg' %}");
            object-fit: cover;
            margin-bottom: -10px;
        }
    </style>

    <div id="loadergif">
        <img src="{% static 'images/loader_compressed.gif' %}" alt="Loading...">
    </div>

    <section class="about-club">
        <div class="glow-wrapper"><img class="about-earth" src="{% static 'images/earth.jpg' %}" alt="Earth Africa"/></div>
        <div class="about-text"><h1 class="about-title">Introduction to Club</h1>
            {{ page.club_description|richtext }}</div>
    </section>

    <div class="departments">
        {% for block in page.departments %}
            {% include_block block %}
        {% endfor %}
    </div>

{#    <section class="credits">#}
{#        <h2>Credits</h2>#}
{#        <p>Created by Sameer Patil</p>#}
{#        <p>&copy; {{ now.year }} International Institute of Information Technology</p>#}
{#    </section>#}
    <script>
        let element = document.getElementById("aboutbtn");
        element.style.border = "2px solid rgb(61, 106, 255)";
    </script>
{% endblock %}
